/* partials/footer.scss */
@use "../mixins.scss";

.base-footer {
  a {
    color: var(--color-text-link);
  }

  .footer-wrapper {
    @include mixins.flex-vertical;
    @include mixins.responsive-width-auto-margin;
    align-items: center;
    padding: 1em;
  }
}
