/* partials/footer.scss */
@use "../mixins.scss";

.base-footer {
  a {
    color: var(--color-text-link);
  }

  .footer-wrapper {
    @include mixins.flex-vertical;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    width: var(--width-main);
  }
}
