/* partials/header.scss */
@use "../mixins.scss";

.base-header {
  .nav {
    @include mixins.flex-horizontal;
    @include mixins.wrapper-main;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem;

    .title-wrapper {
      display: block;

      .title {
        font-size: 38px;
        margin: 0;
      }

      .link {
        color: var(--color-text-link);
        text-decoration: none;
      }

      .note {
        margin: 0;
      }
    }

    .menus-list {
      align-content: end;

      .separator {
        color: var(--color-separator);
      }
    }
  }
}
