/* partials/menu.scss */
@use "../mixins.scss";

.menu-wrapper {
  padding: 0.5rem;
  text-align: center;

  .menu {
    @include mixins.flex-vertical;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
