/* partials/pagination.scss */
@use "../mixins.scss";

.pagination-wrapper {
  @include mixins.flex-horizontal;
  justify-content: center;
  padding: 1rem;

  .pagination {
    @include mixins.flex-horizontal;
    gap: 1rem;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    .page-item {
      &>a {
        background-color: var(--color-background-page-item);
        box-shadow: var(--shadow-article-entry);
        padding: 0.5rem;
      }

      &.active>a {
        background-color: var(--color-background-page-item-active);
        cursor: default;
        font-weight: bold;
      }
    }
  }
}
