<header class="base-header">
  <div class="row-main">
    <div class="title-wrapper">
      <h1 class="title">
        <a class="title-link" href="{{ site.Home.Permalink }}">{{ site.Title }}</a>
      </h1>
    </div>
    <div class="misc-wrapper">
      <div class="theme-control-wrapper">
        {{ partial "components/themeControl.html" . }}
      </div>
      <div class="rss-feed-wrapper">
        {{ partial "components/rssFeed.html" . }}
      </div>
      <div class="avatar-wrapper">
        {{ partial "components/avatar.html" . }}
      </div>
    </div>
  </div>
  <div class="row-sub hide">
    <nav class="multilingual-wrapper">
      {{ partial "components/languages.html" . }}
    </nav>
    <nav class="menu-wrapper">
      {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </nav>
  </div>
</header>
