/* mixins.scss */
@mixin flex-horizontal {
  display: flex;
  flex-direction: row;
}

@mixin flex-vertical {
  display: flex;
  flex-direction: column;
}

@mixin card {
  background-color: var(--color-background-article);
  box-shadow: 0 0 3px 0 var(--color-shadow-article);
}

@mixin wrapper-main {
  margin: auto;
  max-width: var(--width-main);
}
