/* code-highlights/highlight-control.scss */
@use "../mixins.scss";

.highlight {
  margin: 1rem 0;

  &>pre {
    margin: 0;

    &>code {
      @include mixins.flex-vertical;
      padding: 0.5rem;
      overflow: auto;
    }
  }
}
