{{/*
Render the given page as an article.

@context (page) . The given page.

@example {{ partial "articles/article.html" . }}
*/}}

{{ $date := time.Format "2006-01-02 15:04" .Date }}
<article class="article">
  <header class="header">
    <h1 class="title">
      <a class="link" href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
    <span class="date">{{ $date }}</span>
  </header>
  <section class="content">
  <hr>
  {{ .Content }}
  <hr>
  </section>
  <footer class="footer">
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </footer>
</article>
