{{/*
Render the given page as an article.

@context (page) . The given page.
@context (page) showComments Load comments if true.

@example {{ partial "articles/article.html" (dict "page" . "showComments" true) }}
*/}}

{{ $showComments := .showComments }}
{{ with .page }}
{{ $date := time.Format "2006-01-02 15:04" .Date }}
<article class="article">
  <header class="header">
    <h1 class="title">
      <a class="link" href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
    <span class="date">{{ $date }}</span>
  </header>
  <section class="content">
  <hr>
  {{ .Content }}
  <hr>
  </section>
  <footer class="footer">
    {{ partial "articles/articleTaxonomies.html" . }}
  </footer>
</article>

  {{ if and site.Params.comments.enabled $showComments (page.Param "comments") }}
    {{ with site.Params.comments }}
    <div class="comments-wrapper">
      <div class="provider">
        {{ T "comments.poweredBy" (dict "provider" (title .provider) ) }}
      </div>
      {{ partial (printf "components/%s.html" .provider) . }}
    </div>
    {{ end }}
  {{ end }}
{{ end }}
