{{/*
Render the given page as an article entry.

@context (page) . The given page.

@example: {{ partial "articles/articleEntry.html" . }}
*/}}

{{ $date := time.Format "2006-01-02" .Date }}
<article class="article-entry">
  <header class="header">
    <h2 class="title">
      <a class="link" href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <span class="date">{{ $date }}</span>
  </header>
  <section class="content">
    {{ $defaultDescription := T "article.noDescription" }}
    <p class="description">{{ .Description | default $defaultDescription }}</p>
  </section>
  <footer class="footer">
    {{ partial "articles/articleTaxonomies.html" . }}
  </footer>
</article>
