/* partials/components/languages.scss */
@use "../../mixins.scss";

.languages-wrapper {
  @include mixins.flex-vertical;
  justify-content: end;

  .languages {
    @include mixins.flex-horizontal;
    align-items: baseline;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;

    .active {
      font-weight: bold;
      text-decoration: none;
    }
  }
}
