/* partials/components/languages.scss */
@use "../../mixins.scss";

.languages-wrapper {
  .languages {
    @include mixins.flex-horizontal;
    align-items: end;
    gap: 1rem;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    .active {
      font-weight: bold;
      text-decoration: none;
    }
  }
}
