/* partials/components/sidebar.scss */
@use "../../mixins.scss";

.sidebar {
  @include mixins.flex-vertical;
  justify-content: start;
  gap: 1rem;
  margin-left: 20px;
  min-width: 240px;
  width: 240px;

  .nav-wrapper {
    @include mixins.card;
    @include mixins.flex-vertical;
    gap: 0.75rem;
    padding: 1rem;
  }
}
