/* partials/components/taxonomies.scss */
@use "../../mixins.scss";

.taxonomies-wrapper {
  @include mixins.card;
  padding: 1rem;

  .title {
    margin: 0;
  }

  ul.taxonomies {
    @include mixins.flex-horizontal;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;

    .taxonomy {
      align-content: end;
      margin: 0;
    }
  }
}
