/* partials/components/themeControl.scss */
.theme-control-wrapper {
  padding: 0.5rem;
  text-align: center;
}

#theme-control {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0;
}
