/* partials/components/themeControl.scss */
#theme-control {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0;
}

#theme-icon {
  & .hide {
    display: none;
  }
}
