/* partials/components/toc.scss */
@use "../../mixins.scss";

#TableOfContents {
  ul {
    margin: 0;
    padding-left: 1em;
  }

  li {
    margin: 0;
  }
}

.toc-wrapper {
  @include mixins.card;
  padding: 1rem;
  position: sticky;
  top: 1rem;

  .title {
    margin: 0;
  }
}
