/* partials/articles/articleTaxonomies.scss */
@use "../../mixins.scss";

.article-taxonomies-wrapper {
  @include mixins.flex-horizontal;
  gap: 1.25rem;

  .article-taxonomies {
    @include mixins.flex-horizontal;
    align-items: baseline;
    gap: 0.25rem;

    .title {
      margin: 0;
    }
  }
}
