/* colors/light.scss */
:root {
  &[data-theme="light"] {
    color-scheme: light;
    --color-background-article: rgb(255, 255, 255);
    --color-background-block: rgb(237, 237, 237);
    --color-background-block-critical: rgb(255, 202, 202);
    --color-background-block-warning: rgb(255, 242, 204);
    --color-background-block-sanity: rgb(213, 250, 222);
    --color-background-body: rgb(245, 245, 245);
    --color-background-mark: rgb(233, 203, 253);
    --color-background-page-item: rgb(255, 255, 255);
    --color-background-page-item-active: rgb(240, 240, 240);
    --color-background-table-header: rgb(196, 216, 238);
    --color-background-table-row-differ: rgb(237, 251, 255);

    --color-border-block: rgb(185, 185, 185);
    --color-border-block-critical: rgb(230, 130, 130);
    --color-border-block-warning: rgb(245, 204, 88);
    --color-border-block-sanity: rgb(138, 223, 141);
    --color-border-table: rgba(130, 130, 130);

    --color-separator: rgb(213, 213, 213);

    --color-shadow-article: rgba(0, 0, 0, 0.2);

    --color-text-code: rgb(91, 53, 185);
    --color-text-copyright: rgb(85, 85, 85);
    --color-text-description: rgb(85, 85, 85);
    --color-text-pharagraph: rgb(45, 45, 45);
    --color-text-link: rgb(0, 0, 0);
    --color-text-link-in-article: rgb(173, 0, 89);
    --color-text-title: rgb(0, 0, 0);
  }
}
